// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-top {
  margin-top: 5vh;
  margin-left: 5vw;
  background-color: lightblue;
}

.title {
  font-size: 20px;
  
}

.button {
  margin-top: 10px;
  font-size: 30px;
}

.order-button {
  margin-top: 10px;
  font-size: 30px;
}

.name {
  font-size: 50px;
}

.info {
  margin-top: 10px;
  font-size: 40px;
}